---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import PortfolioCard from '../components/PortfolioCard.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import '../styles/index.css';
import memoji from '../assets/memoji.png';
import cursor from '../assets/Cursor.svg';

const position1 = 'Front-end Developer';
const position2 = 'UI/UX Designer';
const location = 'Brooklyn, NY';
---

<Layout title="Skylar Clemens">
	<main>
		<div class="container">
			<div class="content dashed-border">
				<Navigation />
				<div class="hero">
					<div class="bg-grid"></div>
					<span>I'm Skylar - an independent</span>
					<div class="positions">
						<span class="code dev">{position1}</span>
						<span>&</span>
						<span class="heading ux">
							{position2}
							<div class="cursor-container">
								<Image class="cursor" src={cursor} alt="cursor" />
								<div class="memoji-image">
									<Image src={memoji} alt="Memoji with thumbs up" />
								</div>
							</div>
						</span>
					</div>
					<span>based in {location}.</span>
				</div>
				<div id="portfolio" class="portfolio section">
					<h2 class="heading">Portfolio</h2>
					<div class="portfolio-cards">
						<PortfolioCard num="1" title="Portfolio" skills="Design and web development" date="April 2024" />
					</div>
				</div>
				<div id="about" class="about">
					<h2 class="heading">About</h2>
				</div>
				<div id="contact" class="contact">
					<h2 class="heading">Let's talk</h2>
				</div>
				<Footer />
			</div>
		</div>
	</main>
</Layout>